APP_NAME=Laboratorio ETL Rick and Morty
APP_ENV=development
API_BASE_URL=https://rickandmortyapi.com/api

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=laboratorio_etl

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=laboratorio_etl
MONGO_RAW_COLLECTION=personajes_raw